# application
environs==14.1.0
Jinja2==3.1.5
PyYAML==6.0.2
SQLAlchemy==2.0.38
psycopg2==2.9.10
# unittest
pytest==8.2.1
pytest-cov==4.1.0
coverage==7.2.7
pytest-env==0.8.2
# linting
mypy==1.10.0
flake8==7.0.0